<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ditto.howto_ui">
    <application>
        <activity android:name="com.ditto.howto.ui.PopUpWindow"
            android:theme="@style/AppTheme_PopupVideo"
            android:usesCleartextTraffic="true"
            android:screenOrientation="sensorLandscape"/>
    </application>
</manifest>